html,
body {
    height: 100%;
    margin: 0;
    /* Ensure there is no default margin */
    padding-top: 20px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px;
    /* Maintain margin for separation */
}